/*multiple element selectors; applies to all elements separated by a comma*/

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-decoration: underline;
}

/*element selector: applies to all elements using the <li> tag*/
li {
    color: red;
    font-style: italic;
}

/*class selector*/
.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

/*id selector*/
#competence {
    color: blue;
}

/*element selector*/
body {
    background-color: #dabbbb;
    font-family: sans-serif;
}

/*class selector: unique to multiple elements*/
.sectionOne {
    font-size: 15px;
}

/*id selector: unique to a single element*/
#ourProducts {
    font-style: italic;
    font-size: 25px;
    font-family: serif;
    font-weight: 800;
    text-align-all: center;
}

/*pseudo selectors*/

a:link {
    color: red;
}

a:visited {
    color: #2f8000;
}

a:hover {
    color: darkred;
    background-color: aqua;
}

a:focus {
    color: blueviolet;
}

/*background image and font for entire page*/
body {
    background-image: url("https://i.stack.imgur.com/NEuip.jpg");
    font-family: Georgia;
    color: aliceblue;
    text-align: center;
}

/*list style*/

ul, ol {
    list-style: lower-roman;
    text-align: center;
}

/*table elements*/
td, tr {
    padding: 20px;
    text-align-all: center;
}